<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Question Page</title>
		  <link rel="stylesheet" href="../css/Styles.css">
</head>
<body>
<div class="question-page">
		<h2>This is the Question. Please choose your answers from the options below</h2>
        <fieldset>
            <div class="item">
                <input type="checkbox">
                <label>Option 1</label>
            </div>
            <div class="item">
               <input type="checkbox">
                <label>Option 2</label>
            </div>
            <div class="item">
                <input type="checkbox">
                <label>Option 3</label>
            </div>
            <div class="item">
                <input type="checkbox">
                <label>Option 4</label>
            </div>
        </fieldset>
</div>
</body>
</html>